aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
anyio==4.14.2
attrs==26.1.0
av==18.1.0
backoff==2.2.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
defusedxml==0.7.1
filelock==3.32.4
fire==0.7.1
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.11.1
mpmath==1.3.0
multidict==6.7.1
mypy_extensions==1.1.0
networkx==3.6.1
numpy==2.5.2
nvidia-ml-py==13.610.43
opencv-python==4.14.0.94
packaging==26.3
paho-mqtt==2.1.0
pi-heif==1.4.0
pillow==12.3.0
polars-runtime-32==1.44.1
polars==1.44.1
propcache==0.5.2
psutil==7.2.2
py-cpuinfo==9.0.0
pyDeprecate==0.11.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
PyYAML==6.0.3
requests-file==3.0.1
requests==2.34.2
sahi==0.12.6
scipy==1.18.1
setuptools==84.0.0
shapely==2.1.2
six==1.17.0
supervision==0.30.1
sympy==1.14.0
termcolor==3.3.0
tldextract==5.1.3
torch==2.13.0
torchvision==0.28.0
tqdm==4.70.0
typing-inspect==0.9.0
typing_extensions==4.16.0
ultralytics-platform==0.1.18
ultralytics-thop==2.1.6
ultralytics==8.4.131
urllib3==2.7.0
yarl==1.24.5
